.container-fluid {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}